In [1]:
import pandas as pd

In [25]:
data = pd.read_csv ('PoinsBlona_part_two.csv')   
df = pd.DataFrame(data)

In [21]:
str(df.iloc[0]['latitude'])

'50.059475308641964'

In [22]:
# f = open("to_database.txt", "a")
# for i in range(len(df)):
#     f.write("INSERT INTO measurements (latitude, longitude) VALUES (" + str(df.iloc[i]['latitude']) + ', ' + str(df.iloc[i]['longitude'])+ ');\n')


# f.close()

In [26]:
f = open("to_database_part_two.txt", "a")
f.write("INSERT INTO measurements (latitude, longitude) VALUES")
for i in range(len(df)):
    f.write('(' + str(df.iloc[i]['latitude']) + ', ' + str(df.iloc[i]['longitude'])+ '),\n')
f.close()

In [10]:
data

      Unnamed: 0   latitude  longitude
0              0  50.059475  19.902528
1              1  50.059489  19.902528
2              2  50.059503  19.902528
3              3  50.059517  19.902528
4              4  50.059532  19.902528
...          ...        ...        ...
2942        2942  50.059264  19.906883
2943        2943  50.059278  19.906883
2944        2944  50.059222  19.907039
2945        2945  50.059236  19.907039
2946        2946  50.059250  19.907039

[2947 rows x 3 columns]